.contact-container {
  display: flex;
  gap: 40px;
  width: 90%;
  margin: 40px auto;
  padding: 20px;
  flex-wrap: wrap;
  border-radius: 10px;
  /* border: 1px solid #ddd; */
}

.contact-info {
  flex: 1 1 200px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.contact-info h2 {
  font-size: 28px;
  margin-bottom: 5px;
}

.contact-info p {
  font-size: 14px;
  color: #555;
}

.contact-card {
  display: flex;
  gap: 10px;
  border-radius: 12px;
  align-items: flex-start;
  align-items: center;
  gap: 10px;
  width: 80%;
}

.contact-card .icon {
  font-size: 22px;
  color: black;
  flex-shrink: 0;
  margin-top: 3px;
}

.contact-card .contact-details h3 {
  margin: 0;
  font-size: 16px;
}

.contact-card .contact-details p {
  margin: 2px 0;
  font-size: 14px;
  color: #333;
}

.highlight {
  color: #6c63ff;
  font-weight: 500;
}

.contact-form {
  flex: 1 1 400px;
  border-radius: 12px;
  padding: 20px;
}

@media (max-width: 600px) {
  .contact-form {
    padding: 10px;
    width: 90%;
    margin: 0 auto;
  }
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form .name-row {
  display: flex;
  gap: 10px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.name-row {
  display: flex;
  flex-direction: row;
}

.name-row input {
  flex: 1;
}

.contact-form textarea {
  resize: vertical;
  min-height: 80px;
}

.contact-form .form-footer {
  font-size: 12px;
}

.contact-form button {
  background-color: black;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s ease;
}

.contact-form button:hover {
  background-color: #fff;
  color: black;
  border: 1px solid black;
}

@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }
  
  .name-row {
    flex-direction: column;
  }
}