.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  color: #ff69b4;

  /* margin:10px ; */
}

/* Logo styling */
.logo {
  width: 50%;
  background: white;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}
.cart {
  display: none;
  background: white;
  border-radius: 10px;
  padding: 10px;
}
@media (min-width: 768px) {
  .cart {
    display: flex;
    min-width: 10%;
    justify-content: space-between;
    gap: 25px;
  }
}
.mobilecart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.BookServiceButton {
  display: none;
}

@media (min-width: 768px) {
  .BookServiceButton {
    display: block;
  }
}

@media (min-width: 768px) {
  .logo {
    width: 12%;
  }
}

/* Desktop navigation */
.navbar-links {
  display: none;
}

@media (min-width: 768px) {
  .navbar-links {
    display: flex;
    gap: 25px;
    /* height: 400vh; */
    list-style: none;
    font-weight: bold;
    background: white;
    padding: 10px;
    border-radius: 10px;
    min-width: 30%;
    justify-content: center;
    p {
   
      text-align: center;
      min-width: 80px;
    }
  }

  .navbar-links a {
    text-decoration: none;
    transition: color 0.3s;
  }

  .navbar-links a:hover {
    color: white;
  }
  .navbar-links p {
    position: relative;
    padding: 6px 4px;
    cursor: pointer;
    color: #333;
    transition: 0.3s;
    border-radius:10px ;
  }
  .navbar-links a.active p {
    color: black;
    background: linear-gradient(
      to top,
      rgba(255, 182, 193, 1),
      rgba(255, 182, 193, 0)
    );
  }
}

/* Mobile menu icon */
.mobile-menu {
  display: flex;
  align-items: center;
  z-index: 20;
}

.menu-icon {
  width: 30px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* Mobile popup menu */
.menu-popup {
  position: absolute;
  text-align: center;
  top: 18px;
  right: 10px;
  width: 40%;
  background: white;
  padding: 10px 0px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  animation: slideIn 0.5s ease;
  opacity: 1;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Close icon */
.menu-close {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.close-icon {
  width: 20px;
  cursor: pointer;
}

/* Mobile links */
.menu-links {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.menu-links a {
  text-decoration: none;
  color: Black;
  font-size: 1rem;
  transition: color 0.3s;
}

.menu-links a:hover {
  color: #a0430a;
}
